.nav-link {
    color: dodgerblue;
    font-size: 14px;
}

.nav-link:hover {
    color: goldenrod;
}

.nav-item {
    margin: 10px 40px;
    text-align: center;
}

.logo {
    height: 80px;
    margin-top: 20px;
}

.navbar {
    background-color: white;
}

.nav-background {
    width: 100%;
}

.header {
    height: 100px;
}

.w-100 {
    height: 510px;
}

@media screen and (max-width: 1000px) {
    .contact {
        display: none;
    }

    .logo {
        width: 80%;
        margin-left: 2%;
        position: absolute;
        justify-content: center;
    }

    .w-100 {
        height: 200px;
    }
}

.contact {
    margin-top: 40px;
    float: right;
}

.carousel {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    align-items: center;
    background-color: rgba(30, 144, 255, .5);
    width: 100%;
    margin-left: -15%;
}

.title-carousel {
    color: white;
    font-size: 4rem;
    margin-bottom: 30px;
}

.text-carousel {
    color: white;
    font-size: 2rem;
}

.line-carousel {
    height: 3px;
    width: 250px;
    background-color: darkorange;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
}

.d-block.w-100 {
    height: 350px;
}

.title {
    margin: 40px 0 40px 0;
    text-align: center;
    color: dodgerblue;
}

.line {
    height: 5px;
    width: 250px;
    background-color: darkorange;
    justify-content: center;
    display: table;
    margin-bottom: 50px;
    margin: 0 auto;
}

.card {
    width: 22rem;
    margin: 20px;
    background-color: #F0F0F0;
    border: none;
}

.icon {
    height: 90px;
    width: 90px;
    margin: 5px;
    margin-bottom: 30PX;
    color: #3D5975;
}

.card-title {
    color: #3D5975;
    margin-bottom: 270px;
}

.card-img-top {
    height: 230px;
}

.card-text {
    text-align: justify;
    position: absolute;
    margin-top: 180px;
}

.img-nosotros {
    width: 100%;
    border: none;
}

.nosotros {
    background-color: #F0F0F0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-nosotros {
    width: 60%;
    display: table;
    margin: 20px auto;
    text-align: justify;
    font-size: 1.3rem;
}

.mision-vision {
    background-color: rgba(18, 88, 158, .8);
    width: 100%;
    padding-bottom: 50px;
    padding-top: 10px;
}

.viedo-background {
    
    width: 200px;
    height: 200px;
}

.mision {
    width: 90%;
    display: table;
    margin: 0 auto;
    text-align: justify;
    color: white;
    font-size: 1.3rem;
}

.vision {
    width: 90%;
    display: table;
    margin: 0 auto;
    text-align: justify;
    color: white;
    font-size: 1.3rem;
}

.title.objetivos {
    color: white;
}

.media-nosotros {
    width: 50%;
}

.div-img-nosotros {
    width: 50%;
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .media-nosotros {
        width: 100%;
    }

    .text-nosotros {
        width: 90%;
    }

    .div-img-nosotros {
        width: 100%;
        margin-bottom: 20px;
    }

    .contacto-web {
        width: 100%;
        margin-bottom: 100px;
    }

    .input-web {
        width: 100%;
    }
}

.icon-menu {
    height: 25px;
    width: 25px;
    margin-top: -10px;
}

.img-sec {
    width: 150px;
    display:table;
    margin:0 auto;
}

.direccion {
    display:table;
    margin:0 auto;
}

